body{
    margin-left: 50px;
}
main{
    justify-content: center;
  
    
}

header{
    color: white;
}
body{
    background-color: #cf2e2e;
}
.navbar{
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
    
}
.blocker{
    
    margin-right: 20px;
    text-decoration: none;
    font-size: larger;
    color:gold;
}
.carousel-inner{
    height: 300px;
}

.slider {
    position: relative;
    width: 500px;
    height: 350px;
    overflow: hidden;
}

.slides {
    display: flex;
    animation: slide-animation 10s infinite;
    

}

.slide {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes slide-animation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-200%);
    }
    85% {
        transform: translateX(-200%);
    }
    90% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}


.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu-item{
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    flex-wrap: wrap;
    
    padding: 20px;
}
.child{
    flex: 0 0 calc(25% - 20px);
            padding: 10px;
            box-sizing: border-box;
            text-align: center;
}
.child img {
    
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}
.desserts{
    flex: 0 0 calc(33.33% - 20px);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;

}
.desserts img{
    width: 100%; 
    height: 200px; 
    object-fit: cover; 

}
.info{
    text-align: center;
    font-size: 20px;
    color:lightgreen;
}
.gallery {
    max-width: 800px;
    margin: 20px auto 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around; 
}
.photo {
    width: 45%; 
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
}
.photo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.photo:hover img {
    transform: scale(1.1);
}
#map{
    height: 480px;
    width:100%;
}
.testimonials-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    max-width: 900px;
    margin: 0 auto;
}

.testimonial {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 25%; 
    margin-bottom: 20px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    margin-bottom: 10px;
}

.customer-name {
    font-weight: bold;
    margin-bottom: 8px;
}

.quote {
    font-style: italic;
    color: #555;
}
.offers-container {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    max-width: 1400px;
    margin: 0 auto;
    
}

.offer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(30% - 20px);
    margin:5px;
}

.offer img {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.offer:hover img {
    transform: scale(1.1);
}

.offer h3 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.offer p {
    color: #666;
}
.contact-container {
    max-width: 600px;
    margin: 0 auto;
    
    padding: 30px;
    border-radius: 8px;
    
}

h2 {
    text-align: center;
    color: #333;
}

form {
    
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: lightgreen;
    font-size: 20px;
}

input, textarea {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
@media (max-width: 600px) {
    
    body {
        font-size: 14px;
    }

    .navbar {
        flex-direction: column; 
    }

    .navbar a {
        margin-bottom: 10px; 
    }

    .menu-toggle {
        display: block; 
    }
    .slider{
        width: 350px;
        height:320px;
    }
    .child{
        flex: 0 0 calc(100% - 20px);
                padding: 10px;
                box-sizing: border-box;
                text-align: center;
    }
    .desserts{
        flex: 0 0 calc(100% - 20px);
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    
    }
    .unique{
        display:none;
    }
    .offer {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: calc(100% - 20px);
        margin:5px;
    }
    .testimonial {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%; 
        margin-bottom: 20px;
    }
    
   
}